@media only screen and (max-width : 739px) {
    .modal {
        height: 250px;
    }
    
    .modal__header {
        justify-content: center;
    }

    .modal__header-close {
        display: none;
    }

    .modal__footer {
        align-items: unset;
    }

    .modal__footer-close {
        margin: 15px 0 0 0;
        flex: 1;
        border-radius: unset;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}