* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Begin Animation */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
/* End animation */

#toast {
    position: fixed;
    right: 30px;
    top: 30px;
}

.toast {
    margin-left: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    border-left: 4px solid;
    border-radius: 2px;
    padding: 20px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width: 400px;
    max-width: 450px;
    transition: all linear 0.3s;
}

/* Begin toast modify */
.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}
/* End toast modify */

/* Begin toast message */
.toast + .toast {
    margin-top: 20px;
}

.toast__icon {
    padding: 0 16px;
    font-size: 19px;
}

.toast__body {
    flex: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 700;
}

.toast__msg {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}

.toast__close {
    cursor: pointer;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 19px;
}
/* End toast message */

/* Begin button */
.btn-block {
    display: flex;
}
.btn {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    min-width: 150px;
    max-width: 200px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn--success {
    background-color: #47d864;
}

.btn--info {
    background-color: #2f86eb;
}

.btn--warning {
    background-color: #ffc021;
}

.btn--error {
    background-color: #ff623d;
}

/* End button */
